* {
padding: 0;
margin:0;
box-sizing: border-box;
}
@font-face {
    font-family: 'Spacemono';
    src: url('../fonts/spacemono-bold-webfont.woff2') format('woff2'),
         url('../fonts/spacemono-bold-webfont.woff') format('woff'),
         url('../fonts/SpaceMono-Bold.ttf') format('truetype');
  }
body {
    background-color: rgb(231, 192, 218);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}
aside {
    width:260px;
    height: calc(100vh - 16px);
    position: fixed;
    top: 8px;
    left: 8px;
    background-color: rgb(29, 29, 29);
    padding:40px 20px;
    border-radius: 6px;
    display: block;
 
}
.sidebar {
    max-height: calc(100vh - 15rem);
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: rgb(83, 83, 83); 
  }
  ::-webkit-scrollbar-thumb {
    background: #b8b8b8; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(231, 192, 218); 
  }
h1, h2 { 
    color:rgb(231, 192, 218);
    font-family: 'Spacemono', sans-serif;}
a {
        color:rgb(255, 42, 216); 
        text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

nav a {
    font-size: 14px;
    text-decoration:none;
    color:white;
    font-family: "Roboto Mono", monospace;
    font-weight:100;
    text-transform: uppercase;
}


nav a:hover {
    font-weight:bold;
    transition: font-size .15s;
    font-size: 18px;
    text-decoration:none;
}
ul {
    list-style-type: none;
}
li {
    padding:5px 0;
}
section {
margin: 8px 8px 8px 276px;
}
article {
    background-color: rgb(29, 29, 29);
    margin-bottom:8px;
    padding: 40px;
    border-radius: 6px;
}
.element {
    margin-top:20px;
}
#title {
color: rgb(231, 192, 218);
  font-size:40px;
  line-height: 1;
  position: sticky;
  top: 0;
  background-color:rgb(29, 29, 29);
} 
table {
    border-collapse: collapse;
    border: 1px solid rgb(166, 166, 166);
}
th, td {
    border: 0.5px solid rgb(205, 205, 205);
    padding:14px;
    
    }
th {background-color:rgb(231, 192, 218);
color:black;
border: 1px solid rgb(29, 29, 29);
}
.semantic {
    border-collapse:separate;
    border: 2px solid rgb(255, 148, 148);
    padding: 5px;
    }
.semantic td {
    margin:5px;
}
.code, code, span, #cssselectors td:nth-child(-n+2) {
        font-family: Courier, Monaco, monospace; 
        color:rgb(231, 192, 218);
    }
footer {
color: black;
    padding:40px;
 
}

.embedcode {
    background-color: rgb(61, 61, 61);
    padding:20px;
    margin: 20px 0;
}
ol {
    list-style-position: inside;
}
