* {
padding: 0;
margin:0;
/* border: 0.5px solid red; */
box-sizing: border-box;
}
body {
    background-color: rgb(237, 240, 228);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
aside {
    width:260px;
    position: fixed;
    top: 8px;
    left: 8px;
    background-color: white;
    padding:20px;
    border-radius: 6px;
}
h1, h2 { 
 font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

nav a {
    text-decoration:none;
    color:black;
}
a:hover {
    font-weight:bold;
}
ul {
    list-style-type: none;
}
li {
    padding:5px 0;
}
section {
margin: 8px 8px 8px 276px;
}
article {
    background-color: white;
    margin-bottom:8px;
    padding: 40px;
    border-radius: 6px;
}
.element {
    margin-top:20px;
}
#title {
  font-size:40px;
  line-height: 0.8;
} 
table {
    border-collapse: collapse;
    border: 2px solid rgb(166, 166, 166);
}
th, td {
    border: 1px solid rgb(205, 205, 205);
    padding:14px;
    }
th {background-color:rgb(0, 114, 48);
color:white;
}
.semantic {
    border-collapse:separate;
    border: 2px solid rgb(255, 148, 148);
    padding: 5px;
    }
.semantic td {
    margin:5px;
}
.code, code, span, #cssselectors td:nth-child(-n+2) {
        font-family: Courier, Monaco, monospace; 
        color:rgb(0, 131, 46)
    }
footer {
    padding:40px 10px;
    border-top:1px solid grey;
}

.embedcode {
    background-color: rgb(239, 239, 239);
    padding:20px;
    margin: 20px 0;
}
ol {
    list-style-position: inside;
}
